.pageContainer4 {
  display: flex;
}

.colOne4 {
  width: 30%;
  background-color: var(--background-2);
  height: 100vh;
}
.colTwo4 {
  flex: 1;
  background-color: var(--background);
  height: 100vh;
  overflow-y: scroll;
  padding: 0px 80px;
}
.colTwo4::-webkit-scrollbar {
  background-color: var(--background);
  width: 2px;
}

.colTwo4::-webkit-scrollbar {
  background-color: transparent;
  width: 15px;
}
.colTwo4::-webkit-scrollbar-track {
  background-color: transparent;
}
.colTwo4::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 4px solid transparent;
  background-color: var(--background-2);
  background-clip: content-box;
}

.colThree4 {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 36px;
  height: 100vh;
}
