.MobileHead {
  display: none;
}

@media screen and (max-width: 500px) {
  .MobileHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    position: sticky;
    background-color: var(--background-2);
  }

  .colTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .colOne h1 {
    font-size: 25px;
    color: var(--color);
    padding: 0px 16px;
  }
  .navbar {
    position: relative;
    padding: 16px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    cursor: pointer;
    font-size: 24px;
    color: #fff;
  }

  .overlay {
    position: fixed;
    top: 9%;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--background-2);
    transition: left 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .showOverlay {
    left: 0;
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%; /* Adjust as needed */
    background-color: transparent;
    text-align: center;
  }

  .menu li {
    padding: 16px;
  }

  .menu li a {
    color: var(--color);
    text-decoration: none;
    font-size: 24px;
  }

  .menu li a:hover {
    color: #ddd;
  }
}
