.expContainer {
  padding: 30px;
  background-color: var(--background-2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  height: 250px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.expContainer h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30.24px;
  text-align: left;
  color: var(--color);
}

.expContainer p {
  font-size: 20px;
  font-weight: 300;
  line-height: 25.2px;
  text-align: left;
  color: var(--color);
}
