@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 5s ease, color 1s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0px;
  padding: 0px;
  font-family: "outfit", sans-serif;
}

.dark {
  background-color: var(--background);
  color: var(--color);
}

.light {
  background-color: var(--background);
  color: var(--color);
}
:root {
  --background: #13133a;
  --background-2: #252546;
  --btn-background: #ffffff;
  --btn-color: #13133a;
  --font-inter: "Outfit", sans-serif;
  --color: #ffffff;
  --icon-hover: #ffffff;
}

[data-theme="light"] {
  --background: #fffef2;
  --background-2: #fffef2;
  --color: #13133a;
  --font-inter: "Outfit", sans-serif;
  --btn-background: #13133a;
  --btn-color: #ffffff;
  --icon-hover: #13133a;
}
