.homeContainer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
  background-color: var(--background-2);
  color: var(--color);
}

.colOne {
  width: 50%;
  padding: 50px 120px;
}

.textContain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 190px;
}

.toogleBtn {
  width: 200px;
}

.textContain h3 {
  font-family: var(--font-inter);
  font-weight: 400;
}

.textContain h1 {
  font-family: "outfit", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 100.8px;
  text-align: left;
}

.colTwo {
  width: 50%;
  background-image: url("../assets/profile.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 36px;
}

.Aboutbtn {
  background-color: black;
  width: 304px;
  border-radius: 20px;
  padding: 7px 0px;
  background-color: var(--btn-background);
}

.Aboutbtn p {
  font-family: "outfit", sans-serif;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: center;
  color: var(--btn-color);
}

.textBody {
  width: 90%;
  padding-top: 40px;
}

.textBody p {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: left;
  padding-top: 20px;
}

.btnContain button {
  margin-top: 60px;
  background-color: var(--btn-background);
  color: var(--btn-color);
  border: 0px;
  padding: 19px 55px;
  border-radius: 4px;
  font-family: "outfit", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25.2px;
}

.iconMenu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 10px;
  background-color: var(--background);
  width: 44px;
  border-radius: 40px;
  box-sizing: border-box;
  justify-content: center;
}
