@keyframes rotateIn {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

.btnContain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.themeBtn {
  width: 60px;
  height: 60px;
  border: none;
  background-color: var(--background);
  border-radius: 50%;
  box-shadow: 0px 4px 6px var(--shadow-color);
  cursor: pointer;
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 1s ease-in-out;
  transform: scale(0.9);
}

.themeBtn:disabled {
  opacity: 1;
  cursor: not-allowed;
}

.themeBtn:not(:disabled):hover {
  animation: rotateIn 1s ease-in-out;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.mobileSwitch {
  display: none;
}

@media screen and (max-width: 500px) {
  .btnContain {
    justify-content: left;
  }

  .mobileSwitch {
    display: block;
  }
  .btnContain {
    display: none;
  }

  .thememobile {
    background-color: transparent;
    border: 0px;
    outline: 0px;
    cursor: pointer;
  }
}
