.iconMenu {
  display: none;
}

@media screen and (max-width: 500px) {
  .iconMenu {
    display: flex;
    gap: 20px;
    height: 10vh;
    position: sticky;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background-2);
  }
}
